/* fondo */
body{
  background-color: rgb(241, 158, 210);
}

/* tipografías */
#tprincipal{
   font-family: Arial, Helvetica, sans-serif;
   color:rgb(250, 251, 252);
}

texto1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 50px;
   font-weight: bold;
  
}

texto2{
   font-family: Georgia, 'Times New Roman', Times, serif; 
   font-size:35px;
   font-weight: normal;
}
textog{
   font: size 20px;
   font-weight: normal;
}

textonombre{
   font-family: cursive;
   font-size: 1cm;
   font-weight: normal;
} 


